.scion .attribute-label {
    font-size: 16px;
    font-family: cursive;
    justify-content: left;
    text-align: left;
    vertical-align: center;
}

.scion .attribute-check {
    font-size: 16px;
    font-family: cursive;
    justify-content: left;
    text-align: left;
    flex: none;
}


.scion .attribute-value {
    font-size: 18px;
    justify-content: left;
    text-align: center;
    line-height: 1;
  }

.scion .header {
    flex: none;
    padding-left: 10px;
    padding-right: 10px;
}

.scion .header-label {
    flex: none;
    padding-right: 10px;
}