<section class="attributes-group">
    <div>
        <table style="width: 100%">
            <tr>
                <th></th>
                <th>MENTAL</th>
                <th>PHYSICAL</th>
                <th>SOCIAL</th>
            </tr>
            <tr>
                <th>POWER</th>
                <td>
                    <span class="attribute flexrow" style="width: 100%">
                        <label class="attribute-value">Intellect</label>
                        <label class="attribute-value checkbox"><input type="checkbox" name="data.attributes.intellect.approach" {{checked attributes.intellect.approach}} /></label>
                        <label class="attribute-value"><input class="attribute-value" type="text" name="data.attributes.intellect.value" value="{{attributes.intellect.value}}" data-dtype="Number" placeholder="0"/><label>
                    </span>
                </td>
                <td>
                    <span class="attribute flexrow" style="width: 100%">
                        <label class="attribute-value">Might</label>
                        <label class="attribute-value checkbox"><input type="checkbox" name="data.attributes.might.approach" {{checked attributes.might.approach}} /></label>
                        <label class="attribute-value"><input class="attribute-value" type="text" name="data.attributes.might.value" value="{{attributes.might.value}}" data-dtype="Number" placeholder="0"/><label>
                    </span>
                </td>
                <td>
                    <span class="attribute flexrow" style="width: 100%">
                        <label class="attribute-value">Presence</label>
                        <label class="attribute-value checkbox"><input type="checkbox" name="data.attributes.presence.approach" {{checked attributes.presence.approach}} /></label>
                        <label class="attribute-value"><input class="attribute-value" type="text" name="data.attributes.presence.value" value="{{attributes.presence.value}}" data-dtype="Number" placeholder="0"/><label>
                    </span>
                </td>
            </tr>
            <tr>
                <th>Finesse</th>
                <td>
                    <span class="attribute flexrow" style="width: 100%">
                        <label class="attribute-value">Cunning</label>
                        <label class="attribute-value checkbox"><input type="checkbox" name="data.attributes.cunning.approach" {{checked attributes.cunning.approach}} /></label>
                        <label class="attribute-value"><input class="attribute-value" type="text" name="data.attributes.cunning.value" value="{{attributes.cunning.value}}" data-dtype="Number" placeholder="0"/><label>
                    </span>
                </td>
                <td>
                    <span class="attribute flexrow" style="width: 100%">
                        <label class="attribute-value">Dexterity</label>
                        <label class="attribute-value checkbox"><input type="checkbox" name="data.attributes.dexterity.approach" {{checked attributes.dexterity.approach}} /></label>
                        <label class="attribute-value"><input class="attribute-value" type="text" name="data.attributes.dexterity.value" value="{{attributes.dexterity.value}}" data-dtype="Number" placeholder="0"/><label>
                    </span>
                </td>
                <td>
                    <span class="attribute flexrow" style="width: 100%">
                        <label class="attribute-value">Manipulation</label>
                        <label class="attribute-value checkbox"><input type="checkbox" name="data.attributes.manipulation.approach" {{checked attributes.manipulation.approach}} /></label>
                        <label class="attribute-value"><input class="attribute-value" type="text" name="data.attributes.manipulation.value" value="{{attributes.manipulation.value}}" data-dtype="Number" placeholder="0"/><label>
                    </span>
                </td>
            </tr>
            <tr>
                <th>Resilience</th>
                <td>
                    <span class="attribute flexrow" style="width: 100%">
                        <label class="attribute-value">Resolve</label>
                        <label class="attribute-value checkbox"><input type="checkbox" name="data.attributes.resolve.approach" {{checked attributes.resolve.approach}} /></label>
                        <label class="attribute-value"><input class="attribute-value" type="text" name="data.attributes.resolve.value" value="{{attributes.resolve.value}}" data-dtype="Number" placeholder="0"/><label>
                    </span>
                </td>
                <td>
                    <span class="attribute flexrow" style="width: 100%">
                        <label class="attribute-value">Stamina</label>
                        <label class="attribute-value checkbox"><input type="checkbox" name="data.attributes.stamina.approach" {{checked attributes.stamina.approach}} /></label>
                        <label class="attribute-value"><input class="attribute-value" type="text" name="data.attributes.stamina.value" value="{{attributes.stamina.value}}" data-dtype="Number" placeholder="0"/><label>
                    </span>
                </td>
                <td>
                    <span class="attribute flexrow" style="width: 100%">
                        <label class="attribute-value">Composure</label>
                        <label class="attribute-value checkbox"><input type="checkbox" name="data.attributes.composure.approach" {{checked attributes.composure.approach}} /></label>
                        <label class="attribute-value"><input class="attribute-value" type="text" name="data.attributes.composure.value" value="{{attributes.composure.value}}" data-dtype="Number" placeholder="0"/><label>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <!--
    <ol class="attributes-list">
        {{#each attributes as |attr key|}}
        <li class="attribute flexrow" data-attribute="{{#if attr.group}}{{attr.group}}.{{/if}}{{key}}">
            <div class="attribute-key-wrapper flexrow">
                {{#if attr.isFormula}}
                    <a class="attribute-roll" data-label="{{attr.label}}" data-roll="{{attr.value}}"><i class="fas fa-dice-d20"></i></a>
                {{/if}}
                <input class="attribute-key" type="text" name="data.attributes.{{#if attr.group}}{{attr.group}}.{{/if}}{{key}}.key" value="{{key}}" placeholder="{{localize "SIMPLE.AttributeKey"}}"/>
            </div>
            {{!-- Handle booleans. --}}
            {{#if attr.isCheckbox}}
            <label class="attribute-value checkbox"><input type="checkbox" name="data.attributes.{{#if attr.group}}{{attr.group}}.{{/if}}{{key}}.value"
                    {{checked attr.value}} /></label>
            {{else}}
            {{!-- Handle resources. --}}
            {{#if attr.isResource}}
            <div class="attribute-group flexrow">
                <span class="attribute-col flexcol">
                    <label for="data.attributes.{{#if attr.group}}{{attr.group}}.{{/if}}{{key}}.min">{{localize "SIMPLE.ResourceMin"}}</label>
                    <input class="attribute-value" type="text" name="data.attributes.{{#if attr.group}}{{attr.group}}.{{/if}}{{key}}.min" value="{{attr.min}}"
                        data-dtype="Number" />
                </span>
                <span class="attribute-col flexcol">
                    <label for="data.attributes.{{#if attr.group}}{{attr.group}}.{{/if}}{{key}}.value">{{localize "SIMPLE.ResourceValue"}}</label>
                    <input class="attribute-value" type="text" name="data.attributes.{{#if attr.group}}{{attr.group}}.{{/if}}{{key}}.value"
                        value="{{attr.value}}" data-dtype="Number" />
                </span>
                <span class="attribute-col flexcol">
                    <label for="data.attributes.{{#if attr.group}}{{attr.group}}.{{/if}}{{key}}.max">{{localize "SIMPLE.ResourceMax"}}</label>
                    <input class="attribute-value" type="text" name="data.attributes.{{#if attr.group}}{{attr.group}}.{{/if}}{{key}}.max" value="{{attr.max}}"
                        data-dtype="Number" />
                </span>
            </div>
            {{!-- Handle other input types. --}}
            {{else}}
            <input class="attribute-value" type="text" name="data.attributes.{{#if attr.group}}{{attr.group}}.{{/if}}{{key}}.value" value="{{attr.value}}"
                data-dtype="{{attr.dtype}}" placeholder="{{localize "SIMPLE.AttributeValue"}}"/>
            {{/if}}
            {{/if}}
            <input class="attribute-label" type="text" name="data.attributes.{{#if attr.group}}{{attr.group}}.{{/if}}{{key}}.label" value="{{attr.label}}"
                placeholder="{{localize "SIMPLE.AttributeLabel"}}"/>
            <select class="attribute-dtype" name="data.attributes.{{#if attr.group}}{{attr.group}}.{{/if}}{{key}}.dtype">
                {{#select attr.dtype}}
                {{#each ../dtypes as |t|}}
                <option value="{{t}}">{{t}}</option>
                {{/each}}
                {{/select}}
            </select>
            <input type="hidden" name="data.attributes.{{#if attr.group}}{{attr.group}}.{{/if}}{{key}}.group" value="{{attr.group}}" />
            <a class="attribute-control" data-action="delete"><i class="fas fa-trash"></i></a>
        </li>
        {{/each}}
    </ol>
    -->
</section>